html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,Apple SD Gothic Neo,
  Inter, Spoqa Han Sans, Segoe UI, Sans-Serif,
  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}